<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Chat Application</title>
<link
  rel="stylesheet"
  href="/bower_components/bootstrap/dist/css/bootstrap.css"
/>
<link
  rel="stylesheet"
  href="/bower_components/components-font-awesome/css/fontawesome-all.css"
/>
<link rel="stylesheet" href="/css/app.css" />
<link rel="icon" type="image/png" href="/images/favicon.png" />
