/* start application styles */

/* scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #0a6ed2f0;
  border: 2px solid #0a6ed2f0;
}

::-webkit-scrollbar-track {
  background-color: #cccccc4f;
}
/* scrollbar styles */

html,
body {
  min-height: 100%;
}

h3 {
  color: #6c757d;
}

.wrapper {
  padding: 100px 0px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

.register h1,
.login h1 {
  color: #698e8e;
  font-size: 1.9rem;
}

.btn-submit {
  color: #0a6ed2f0;
  background-color: #cccccc4f;
  border-color: #698e8e;
}

.btn-link {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0px;
  color: #0251a7;
  background-color: #cccccc4f;
  border-color: #698e8e;
  border: 1px solid #e9e9e9;
}

.btn-link:hover {
  text-decoration: none;
  border-color: #0251a7;
  color: #fff;
  background-color: #0251a7;
}

.btn-link:focus {
  text-decoration: none;
}

.chats i {
  margin: 0px 10px;
  color: #0251a7;
}

.chat-window {
  margin: 10px 0px;
  padding: 20px;
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #ccc;
}

.message {
  margin-bottom: 10px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

.message p {
  display: inline-block;
  margin: 0px 0px 0px 20px;
  padding: 10px;
  border-radius: 70%;
  border-bottom-left-radius: 0%;
  min-width: 50px;
  text-align: center;
}

.message label {
  display: block;
  margin: 0;
  font-weight: 500;
}

.message strong {
  display: block;
  padding: 5px 0px;
  font-size: 12px;
  color: #ccc;
}

.chat-window .owner {
  color: #fff;
  background-color: #0a6ed2f0;
}

.chat-window .sender {
  background-color: #cccccc4f;
}

.no-data {
  padding: 10px;
}

/* end application styles */
