 <div class="row mt-5">
   <div class="col-md-6 m-auto">
     <div class="card card-body">
       <h1 class="text-center mb-3">Chat Here</h1>
       <form action="/chat" method="POST">
         <div class="form-group">
           <input
             type="text"
             id="message"
             name="message"
             class="form-control"
             placeholder="Message"
           />
         </div>
         <button type="submit" class="btn btn-primary btn-submit">
           Send
         </button>
       </form>
     </div>
   </div>
 </div>
